{% extends "home/forumbase.html" %}

{% block title %}收藏列表{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{{ url_for('static',filename='agenda/agenda-static/css/index.css') }}">
{% endblock %}

{% block body %}
    <div class="row" style="margin-top: 20px;">
        <div class="col"></div>
        <div class="col-10">
            <ul class="question-ul">
                {% for list in lists %}
                    <li>
                        <div class="side-question">
                            {% if list.author.user.img %}
                                <img class="side-question-avatar"
                                     src="{{ url_for('static',filename=list.author.user.img) }}" alt="">
                            {% else %}
                                <img class="side-question-avatar"
                                     src="{{ url_for('static',filename='home/images/avatar.jpg') }}" alt="">
                            {% endif %}
                        </div>
                        <div class="question-main">
                            <div class="question-content"><a
                                    href="/forum/detail/{{ list.author_id }}"> {{ list.content }}</a>
                            </div>
                            {% if list.img %}
                                <img class="side-question-enlarge" src="{{ url_for('static',filename=list.img) }}"
                                     alt="">{% endif %}
                         <table class="layui-table" style="width: 350px;margin-left: 0">
                                <colgroup>
                                    <col width="500">
                                    <col width="0">
                                    <col>
                                </colgroup>
                                <tbody>

                                <tr>
                                    <td>{{ list.url }}</td>
                                    <td><a href="/video_view?url={{ list.url }}" class="layui-btn  layui-btn-sm">点击观看</a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                            <div class="question-detail">
                                <span class="question-author"><a href="/collect/del/{{ list.id }}">取消收藏</a></span>
                            </div>
                            <div class="question-detail">
                                <span class="question-author">{{ list.author.user.nicheng }}</span>
                                <span class="question-time">{{ list.author.create_time }}</span>
                            </div>
                        </div>

                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}

